= error_messages_for @feed
= form_for @feed, :html => { class: "form", role: "form" } do |f|
  -if @feed.new_record?
    .form-group
      = f.label :feed_url
      = f.text_field :feed_url, class: "form-control"
  -else
    .form-group
      = f.label :feed_url
      %span=link_to @feed.feed_url, @feed.feed_url, title: @feed.feed_url, target: "_blank"
    .form-group
      = f.label :title
      = f.text_field :title, class: "form-control"
  .form-group
    = f.label :sanitization_level
    = f.select :sanitization_level, Feed::SANITATION_LEVELS.map{|k, v| [v, k]}, {}, class: "form-control"
  
  %button{type: "submit", class: "btn btn-primary"} Submit
