.container
  %h1 Edit Feed
  = error_messages_for @feed
  = form_for @feed, :html => { :class => "formarea" } do |f|
    %div
      = f.label :feed_url
      %span=link_to @feed.feed_url, @feed.feed_url, :title => @feed.feed_url, :target => '_blank'
    %div
      = f.label :title
      = f.text_field :title
    %div
      = f.label :sanitization_level
      = f.select :sanitization_level, Feed::SANITATION_LEVELS.map{|k, v| [v, k]}
    %div
      = f.label :folder_id
      = f.select :folder_id, current_user.folders.order(:name).map{|f| [f.name, f.id] }
    %div
      %label &nbsp;
      = f.submit "Update Feed"
