.container-fluid
  .row-fluid
    .span12
      #entry-nav.pull-right
        - if @lister.filter == "unread"
          = link_to "View Read", feed_path(@lister.identifier, filter: "read"), :class => "btn btn-primary"
        - elsif @lister.filter == "read"
          = link_to "View Unread", feed_path(@lister.identifier), :class => "btn btn-primary"
        %button#prev-entry.btn.btn-primary{type: "button"} &laquo; Prev
        %button#next-entry.btn.btn-primary{type: "button"} Next &raquo;
      #entry-list-title
        %h3= @lister.title
      .clearfix
      - if @lister.entries.empty?
        #entry-list
          %h2.text-center No Entries Found
      - else
        #entry-list.panel-group
          - @lister.entries.each do |entry|
            .panel
              .panel-heading
                %h3.panel-title
                  %a.panel-toggle{href: "#entry-#{entry.id}", data: {parent: "#entry-list"}}
                    = entry.title
              .panel-collapse.collapse{id: "entry-#{entry.id}", data: {entry_id: entry.id, feed_id: entry.feed_id}}
                .panel-body
                  Loading...
