%h1 Listing feeds

%table
  %tr
    %th User
    %th Title
    %th Url
    %th Feed url
    %th Etag
    %th Last modified
    %th Sanitize
    %th
    %th
    %th

  - @feeds.each do |feed|
    %tr
      %td= feed.user_id
      %td= feed.title
      %td= feed.url
      %td= feed.feed_url
      %td= feed.etag
      %td= feed.last_modified
      %td= feed.sanitize
      %td= link_to 'Show', feed
      %td= link_to 'Edit', edit_feed_path(feed)
      %td= link_to 'Destroy', feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Feed', new_feed_path
