= form_for @entry do |f|
  - if @entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
      %ul
        - @entry.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :feed_id
    = f.number_field :feed_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :author
    = f.text_field :author
  .field
    = f.label :summary
    = f.text_area :summary
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :published
    = f.datetime_select :published
  .field
    = f.label :read
    = f.check_box :read
  .field
    = f.label :starred
    = f.check_box :starred
  .actions
    = f.submit 'Save'
