%h1 Listing entries

%table
  %tr
    %th Feed
    %th User
    %th Title
    %th Url
    %th Author
    %th Summary
    %th Content
    %th Published
    %th Read
    %th Starred
    %th
    %th
    %th

  - @entries.each do |entry|
    %tr
      %td= entry.feed_id
      %td= entry.user_id
      %td= entry.title
      %td= entry.url
      %td= entry.author
      %td= entry.summary
      %td= entry.content
      %td= entry.published
      %td= entry.read
      %td= entry.starred
      %td= link_to 'Show', entry
      %td= link_to 'Edit', edit_entry_path(entry)
      %td= link_to 'Destroy', entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path
