.container
  %h1 New Folder
  = error_messages_for @folder
  = form_for @folder, :html => { :class => "formarea" } do |f|
    %div
      = f.label :name
      = f.text_field :name
    %div
      %label &nbsp;
      = f.submit "Create Folder"
