=jquery_mobile_page(:id => "edit-feed") do
  = jquery_mobile_header do
    = jquery_mobile_back_button settings_dashboard_index_path
    %h1=@feed.title
  
  = jquery_mobile_content do
    = link_to "Unsubscribe", feed_path(@feed), :method=>"delete", :data => {:role=>'button', :icon=>"delete", :confirm => "Are you sure?"}
    = render :partial => "form"