<!DOCTYPE html>
%html
  %head
    %title My Own RSS Reader
    %meta{:content=>"text/html; charset=utf-8", 'http-equiv'=>"content-type"}
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"}
    %meta{:name=>"HandheldFriendly", :content=>"True"}
    = stylesheet_link_tag "http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css"
    = stylesheet_link_tag "application-mobile"
    = javascript_include_tag "application-mobile"
    = csrf_meta_tags
%body
  = yield
