<!DOCTYPE html>
%html
  %head
    %title My Own RSS Reader
    %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application", media: "screen"
    = csrf_meta_tags
%body{:id => controller.controller_name}
  /#loading-notice.notice.hidden Loading...
  - flash_var = flash[:notice] || flash[:error] || nil
  /#flash-notice.notice.hidden=flash_var

  .navbar.navbar-inverse.navbar-static-top
    .container
      .navbar-header
        %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: ".navbar-collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "My Own RSS Reader", root_path, class: "navbar-brand"
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          -if current_user
            %li= link_to unread_count("All", current_user.all_feeds_unread_count), dashboard_entries_path("all"), class: "feed-link-all"
            %li= link_to unread_count("Starred", current_user.starred_count), dashboard_entries_path("starred"), class: "feed-link-starred"
            %li.dropdown
              %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
                Feeds
                %b.caret
                %ul.dropdown-menu
                  - current_user.feeds.each do |feed|
                    %li= link_to unread_count(feed.title, feed.unread_count), dashboard_entries_path(feed.id), class: "feed-link-#{feed.id}"
            %li= link_to "Manage", "#"
        %ul.nav.navbar-nav.navbar-right
          -if current_user
            %li= link_to "Logout", logout_path, data: { confirm: "Are you sure out want to logout?" }
  
  #wrapper
    = yield
  
  = javascript_include_tag "application"
