<!DOCTYPE html>
%html
  %head
    %title My Own RSS Reader
    = stylesheet_link_tag    "application-screen", media: "screen"
    = javascript_include_tag "application-screen"
    :javascript
      $(document).ready(function() {
        var $flash_notice = $('#flash-notice');
        if ($flash_notice.html() != '') {
          $flash_notice.show().delay(5000).fadeOut(1000);
        }
      });
    = csrf_meta_tags
%body{:id => controller.controller_name}
  #loading-notice.notice.hidden Loading...
  - flash_var = flash[:notice] || flash[:error] || nil
  #flash-notice.notice.hidden=flash_var
  #navigation
    = link_to "My Own RSS Reader", root_path
    -if current_user
      #user-section
        #config=link_to image_tag("silk/icons/cog.png", :size => "16x16", :title => "Settings"), settings_dashboard_index_path
        #add-feed=link_to image_tag("silk/icons/feed_add.png", :size => "16x16", :title => "Add Feed"), new_feed_path
        #logout=link_to image_tag("silk/icons/door_in.png", :size => "16x16", :title => "Logout"), logout_path, :data => { :confirm => "Are you sure out want to logout?" }
        #greeting="Hello, #{current_user.login}"
  #wrapper
    = yield
