<!DOCTYPE html>
%html
  %head
    %title My Own RSS Reader
    %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application", media: "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body{:id => controller.controller_name}
  #loading-notice.notice.hidden Loading...
  - flash_var = flash[:notice] || flash[:error] || nil
  #flash-notice.notice.hidden=flash_var

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %button.btn.btn-navbar{type:"button", data: {toggle: "collapse", target: ".nav-collapse"} }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "My Own RSS Reader", root_path, class: "brand"
        .nav-collapse.collapse
          -if current_user
            %p.navbar-text.pull-right
              = "Hello, #{current_user.login} "
              (
              = link_to "Logout", logout_path, :data => { :confirm => "Are you sure out want to logout?" }
              )
          %ul.nav
            -if current_user
              %li= link_to "All Feeds", "#"
              %li= link_to "Starred Items", "#"
              %li= link_to "Manage Feeds", "#"
  #wrapper
    = yield
